.App{
    display: flex;

    .left-side{
        width: 50%;
        background-color: black;
        position: relative;
        height: 100vh;
    }

    .right-side{
        width: 50%;
        background-color: black;
        position: relative;
        height: 100vh;
    }
}